.conference-page {
	--button-color: #d40c0c;
	--background-color-review-page: #c4c4c4;
	--background-color-paper-topic: #e5e5e5;
	--background-color-preview-topic: white;
	--thumbnail-border-color: white;
	--conference-location-color: gray;
	background-color: var(--background-color-review-page);
	height: 100%;
	overflow: scroll;
}

.main-image {
	background-image: url("../public/Img/thumbnailConferencesPage.webp");
	height: 50%;
	background-size: cover;
	background-position: 20%;
	background-repeat: no-repeat;
}

.conference-image {
	background-image: url("../public/Img/thumbnailConference.jpg");
	background-size: cover;
	height: 100%;
	width: 30%;
	border: 1px solid var(--thumbnail-border-color);
	border-radius: 15px;
}

.one-paper {
	height: 100%;
	display: flex;
	flex-direction: column;
	font-weight: 500;
	padding: 10px 20px 10px 20px;
	background-color: white;
}

.paper-details {
	width: 50%;
}

.paper-details h2 {
	font-weight: normal;
}

.topics-see-more {
	display: flex;
	justify-content: space-between;
}

.topics {
	display: flex;
}

.topic {
	display: flex;
	align-items: center;
	font-size: 12px;
	background-color: var(--background-color-paper-topic);
	font-weight: 400;
	border-radius: 15px;
	margin: 10px 15px 10px 0px;
	padding: 3px 10px;
}

.paper-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 12px;
}

.paper-content p {
	display: block;
}

.paper-content h3 {
	font-size: 16px !important;
	font-weight: bold !important;
}

.see-more-button {
	border: none;
	border-radius: 15px;
	background-color: var(--button-color);
	width: 30%;
	font-size: 11px;
	padding: 10px;
	color: white;
	align-self: center;
	margin-top: 2%;
}

.conference-details {
	height: 35%;
	margin: -6% 5% 0;
	display: flex;
	align-items: flex-end;
}

.conference-information {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	row-gap: 5%;
	height: 60%;
	width: 100%;
	padding: 0% 2%;
}

.conference-identifiers {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-right: 10%;
	padding-top: 1%;
}

.conference-title {
	font-size: 22px;
	font-weight: 500;
}

.conference-location {
	color: var(--conference-location-color);
	font-size: 12px;
}

.conference-date {
	font-size: 12px;
	font-weight: 500;
}

.conference-information .topics .topic {
	background-color: var(--background-color-preview-topic);
	padding: 2px 17px;
}

.conference-information .topics {
	margin-top: -5px;
}

.conference-url {
	font-size: 12px;
}

.conference-presentation {
	margin: 1% 5%;
}

.available-sessions {
	margin: 1% 5%;
}

.sessions {
	margin-top: 2%;
	display: flex;
	justify-content: space-around;
}

.session-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background-color: #b40b0b;
	color: white;
	border-radius: 25px;
	padding: 2%;
}

.conference-chairs {
	margin: 1% 5%;
}

.chairs-list {
	margin-top: 2%;
	display: flex;
	justify-content: space-around;
}

.chair {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background-color: white;
	border-radius: 25px;
	padding-bottom: 2%;
}

.chair img {
	margin-bottom: 5%;
}

.action-buttons {
	margin-top: 2%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.button-style {
	visibility: visible;
	align-items: center;
	background-color: #b40b0b;
	color: white;
	font-size: 16px;
	padding: 15px 35px 15px 35px;
	border: none;
	border-radius: 20px;
}

.topic span {
	display: none;
}

.topic:hover > span {
	display: block;
	margin-left: 2px;
	cursor: pointer;
	color: red;
	font-weight: bold;
}

.modal {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 8% auto;
	padding: 2% 5%;
	height: 40%;
	width: 40%;
	background-color: rgb(223, 213, 213);
	border-radius: 30px;
	row-gap: 5%;
}
.modal-container input {
	border-radius: 20px;
	background-color: var(--background-color-input);
	padding: 5px;
}
.modal-container input:hover,
.modal-container input:focus {
	background-color: #c4c4c4;
}

.modal-container button {
	border-radius: 20px;
	background-color: #b40b0b;
	width: fit-content;
	border: none;
	color: white;
	font-weight: bold;
	padding: 7px 15px;
}

.modal-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
}
